html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    scroll-behavior: smooth;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: 'Noto Serif', serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.slideshow-container{
    width: 100%;
    height: 258px;
    position: relative;
    max-width: 100%;
}
.img{
    width: 100%;
    height: 258px;
    background-image: url(https://images.pexels.com/photos/1738402/pexels-photo-1738402.jpeg?cs=srgb&dl=4k-wallpaper-astronomy-constellations-1738402.jpg&fm=jpg);
    background-size: cover;
}
.text{
    position: absolute;
    bottom: 50px;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 30px;
}
.arrow{
    position: absolute;
    top: 30%;
    color: white;
    font-size: 50px;
}
.arrow:hover{
    background-color: black;
    cursor: pointer;
}
.prev{
    left:0;
}
.next{
    right: 0;
}    
.slides{
    position: relative;
    display:none;
    width: 100%
}
.active{
    display: block;
}
#portfolio{  
      margin: 0;
      -webkit-column-count: 3; 
      -moz-column-count: 3;
      column-count: 3;
      -webkit-column-gap: 1rem;
      -moz-column-gap: 1rem;
      column-gap: 1rem;
      -webkit-column-width: 33.33333333333333%;
      -moz-column-width: 33.33333333333333%;
      column-width: 33.33333333333333%;
}.tile { 
      -webkit-transform: scale(0);
      transform: scale(0);
      -webkit-transition: all 350ms ease;
      transition: all 350ms ease;
}.scale-anm{
    transform: scale(1);
}p{ 
    padding:10px; 
    border-bottom: 1px #ccc dotted; 
    text-decoration: none; 
    font-family: lato; 
    text-transform:uppercase; 
    font-size: 12px; 
    color: #333; 
    display:block; 
    float:left;
}p:hover{ 
    cursor:pointer; 
    background: #333; 
    color:#eee; 
}.tile img{
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}.btn{
    font-family: Lato;
    font-size: 1rem;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    padding: .5rem 1rem;
    margin: 20px;
    height: auto;
    border: 1px solid;
    vertical-align: middle;
    -webkit-appearance: none;
    color: black;
    background-color: rgba(0, 0, 0, 0);
}.btn:hover{
    text-decoration: none;
}
  
.btn:focus{
    outline: none;
    border-color: var(--darken-2);
    box-shadow: 0 0 0 3px var(--darken-3);
}::-moz-focus-inner{
    border: 0;
    padding: 0;
}.toolbar{
    display: flex;
    justify-content: center;
}

nav{
    z-index: 1;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: black;
}
a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding:15px;
}
.one{
 display: flex;
 justify-content: center;
}
.three{
    position: relative;
}
.block:nth-child(odd){
    background-color: red;
}.block:nth-child(even){
    background-color: darkred;
}
#scrollToTop{
    position: fixed;
    opacity: 0;
    bottom: 100px;
    right: 100px;
    height: 100px;
    width: 100px;
    background: black;
    color: white;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 4em;
    transition: all 1s;
}#map{
    height: 700px;
    overflow: none;
}.content{
padding: 16px;
}
.sticky {
z-index: 1;
position: fixed;
top: 0;
width: 100%;
font-size: 1px;
}
.sticky + .content {
padding-top: 102px;
}



